include MANIFEST.in
include README.md
include license.txt
recursive-include shams_ai_assistant *.css *.csv *.html *.ico *.js *.json *.md *.png *.py *.svg *.txt
recursive-exclude shams_ai_assistant *.pyc
